*.xcuserdata
*.xcscheme

BLEDemo/BLEDemo.xcworkspace/xcuserdata/hemant.d.gore.xcuserdatad/UserInterfaceState.xcuserstate

BLEDemo/BLEDemo.xcworkspace/xcuserdata/hemant.d.gore.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
